.editor {
  left: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 60px;
  margin: 0;
}

.output {
  left: 50%;
  top: 60px;
  width: 50%;
  margin: 0;
  position: absolute;
  height: 100%;
  object-fit: cover;
}