#title {
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  margin-right: 3px;
}


a {
  color: rgb(101, 163, 221);
}

#subtitle {
  font-size: 9px;
  color: #AAA;
  margin-right: 15px;
}
